{% extends 'base.html.twig' %}
{% block title %}Connectez-vous {% endblock %}



{% block body %}



    <section class="section-contact">
        <div class="title-contact col-4">
            <h1>CONTACTEZ-MOI</h1>
        </div>
        <div class="bloc-contact col-10 col-sm-10 col-lg-8 col-xl-6 ">
            <form class="form-contact" action="" method="post">
                {% if violations.errors is not empty %}
                    <ul class="violation">
                        {% for violation in violations.errors %}
                            <li>{{ violation }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="input-contact">
                    <label for="contactSurname" class=" contact-label">Nom</label>
                    <div class="col-12 col-sm-12">
                        <input type="text" class="form-control" name="contactSurname" id="contactSurname"
                               value="{{ values.contactSurname }}" placeholder="Saisissez un nom" >
                    </div>
                </div>
                <div class="input-contact">
                    <label for="contactName" class=" contact-label">Prénom</label>
                    <div class="col-12  col-sm-12">
                        <input type="text" class="form-control" name="contactName" id="contactName"
                               value="{{ values.contactName }}" placeholder="Saisissez un  prénom" >
                    </div>
                </div>
                <div class="input-contact">
                    <label for="contactEmail" class=" contact-label">Email</label>
                    <div class="col-12  col-sm-12">
                        <input type="email" class="form-control" name="contactEmail" id="contactEmail"
                               value="{{ values.loginEmail }}" placeholder="Exemple@gmail.com" >
                    </div>
                    {% if violations.loginEmail is not empty %}
                        <ul class="violation">
                            {% for violation in violations.loginEmail %}
                                <li>{{ violation }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="input-contact">
                    <label for="contentMessage" class="contact-label">Message</label>
                    <div class=" col-12 col-sm-12">
                        <textarea type="password" class="form-control" name="contentMessage" id="contentMessage" value="{{ values.contentMessage }}" rows="5"></textarea>
                    </div>
                    {% if violations.loginPassword is not empty %}
                        <ul class="violation">
                            {% for violation in violations.loginPassword %}
                                <li>{{ violation }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="mb-3 bloc-btn-form-create-post col-12 col-xl-10 col-lg-10 col-sm-10">
                    <button class="btn btn-primary col-xl-3 col-lg-3 col-sm-4 col-5 btn-form-create-post" type="submit"
                            name="createPost">Envoyer
                    </button>
                    <a class="btn btn-danger col-xl-3 col-lg-3 col-sm-4 col-5 btn-form-create-post" href="/"
                       role="button">Annuler</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
