{% extends '/base.html.twig' %}
{% block title %}Details Posts{% endblock %}

{% block body %}


    <h1 class="titre-page-post-details " xmlns="http://www.w3.org/1999/html">Details post</h1>

    <div class="bloc-post-details col-10">
        <div class="header-bloc-post-details">
            <div class="post-details col-8">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.subtitle }}</h2>
            </div>
            <div class="published-at">
                <h3>Publié par : {{post.author}} le {{ post.createdAt.format('d/m/Y') }}</h3>
            </div>
        </div>
        <div class="content-post-details">
            <p> {{ post.content }}</p>
        </div>

    </div>

    <div class="bloc-post-commentarys col-9">
        <h6>Espace commentaires</h6>
        <div class="bloc-form-commentary col-12">
            <form class="commentary-form" method="post" action="">
                <label class="label-commentary" for="inputCommentary">Ajoutez votre commentaire</label>
                <textarea class="col-12" name="inputCommentary" id="inputCommentary" rows="5"></textarea>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit" name="addCommentary" >Valider</button>
                </div>
            </form>
        </div>
        {% for commentary in commentarys %}
            <div class="bloc-commentary">
                <h5>Réponse publiée par : <span class="span-author">{{ commentary.usersEntity.pseudo }}</span>
                    le {{ commentary.createdAt.format('d/m/Y') }}</h5>
                <h4>{{ commentary.content }} </h4>
            </div>
        {% endfor %}
    </div>










{% endblock %}
