{% extends '/base.html.twig' %}
{% block title %}Details Posts{% endblock %}

{% block body %}


    <h1 class="titre-page-post-details ">Details post</h1>

    <div class="bloc-post-details col-10">
        <div class="header-bloc-post-details">
            <div class="post-details col-8">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.subtitle }}</h2>
            </div>
            <div class="published-at">
                <h3>Publié par : {{post.author}} le {{ post.createdAt.format('d/m/Y') }}</h3>
            </div>
        </div>
        <div class="content-post-details">
            <p> {{ post.content }}</p>
        </div>

    </div>

    <div class="bloc-post-commentarys col-9">
        <h6>Espace commentaires</h6>
        {% if session.user %}
        <div class="bloc-form-commentary col-12">
            <form class="commentary-form" method="post" action="/add-commentary">
                <label class="label-commentary" for="comment">Ajoutez votre commentaire</label>
                <textarea class="col-12" name="comment" id="comment" rows="5"></textarea>
                <div hidden="hidden">
                    <label for="userId" class="register-label"></label>
                    <input type="text" class="input-register-form" name="userId" id="userId" value="{{ user.id }}">
                </div>
                <div hidden="hidden">
                    <label for="postId" class="register-label"></label>
                    <input type="text" class="input-register-form" name="postId" id="postId" value="{{ post.id }}">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit"  >Valider</button>
                </div>
            </form>
        </div>
        {% endif %}
        {% if not session.user %}
             <div class="section-message-connect-commentary">
                 <p class="message-connect-commentary"> Pour laisser un commentaire veuillez vous <a href="/login">identifier</a> ou <a href="/register">créer un compte </a> !!</p>
             </div>
        {% endif %}

        {% for commentary in commentarys %}
            <div class="bloc-commentary">
                <h5>Réponse publiée par : <span class="span-author">{{ commentary.usersEntity.pseudo }}</span>
                    le {{ commentary.createdAt.format('d/m/Y') }}</h5>
                <h4>{{ commentary.content }} </h4>
            </div>
        {% endfor %}
    </div>










{% endblock %}
