{% extends 'base.html.twig' %}
{% block title %}Connectez-vous {% endblock %}



{% block body %}



    <section class="section-Login">
        <div class="title-login col-4">
            <h1>IDENTIFIEZ-VOUS</h1>
        </div>
        <div class="bloc-login col-10 col-sm-8 col-lg-6 col-xl-4 ">
            <form class="form-login" action="/login" method="post">
                {% if violations.errors is not empty %}
                    <ul class="violation">
                        {% for violation in violations.errors %}
                            <li>{{ violation }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="input-login">
                    <label for="loginEmail" class=" login-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="loginEmail" id="loginEmail"
                               value="{{ values.loginEmail }}" placeholder="Exemple@gmail.com" >
                    </div>
                    {% if violations.loginEmail is not empty %}
                        <ul class="violation">
                        {% for violation in violations.loginEmail %}
                            <li>{{ violation }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="input-login">
                    <label for="loginPassword" class="login-label">Mot de passe</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="loginPassword" id="loginPassword" value="{{ values.loginPassword }}" >
                    </div>
                    {% if violations.loginPassword is not empty %}
                        <ul class="violation">
                            {% for violation in violations.loginPassword %}
                                <li>{{ violation }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-check checked-form">
                    <input class="form-check-input" type="checkbox" id="loginCheked" checked>
                    <label class="form-check-label" for="loginCheked">
                        Se souvenir de moi
                    </label>
                </div>
                <div class="mb-3 bloc-btn-form-login col-10">
                    <button class="btn btn-primary btn-form-login col-10 col-lg-5 col-sm-5" type="submit"
                            name="validLogin">Se connecter
                    </button>
                </div>
            </form>
            <div class="bloc-link-subscribe">
                <p>
                    Vous n'êtes pas encore inscrit ? <a href="/register">Créer un compte </a>
                </p>
            </div>

        </div>
    </section>
{% endblock %}
