{% extends 'base.html.twig' %}


{% block title %}Page Posts {% endblock %}



{% block body %}
    <h1 class="titre-page-post-view">Liste des Posts</h1>
    <section class="section-posts-view">


        {% for post in posts %}
            <div class="bloc-post m-4 col-5">

                <div class="titre-post ">
                    <h1>{{ post.title }}</h1>
                    <h2>{{ post.subtitle }}</h2>
                    <h3>Publié par : {{ user.id }} le {{ post.createdAt.format('d/m/Y') }}</h3>
                </div>
                <div class="contenu-post">
                    <p>{{ post.content | u.truncate(70, '...') }}</p>
                </div>
                <div class="btn-details">
                    <a href="/posts/{{ post.id }}">
                        <button type="button" class="btn btn-primary btn-neon"> Voir détails</button>
                    </a>
                </div>


            </div>
        {% endfor %}

    </section>


{% endblock %}
