{% extends 'base.html.twig' %}
{% block title %}Créer un compte{% endblock %}



{% block body %}



    <section class="section-register">
        <div class="title-register col-4">
            <h1>CRÉER UN COMPTE</h1>
        </div>
        <div class="bloc-register col-10">

            <form class="form-register" action="/register" method="post">


                <div class="input-register">
                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="surname" class=" register-label">Nom</label>
                        <input type="text" class="input-register-form " name="surname" id="surname" value="{{ user.surname }}"
                               required/>
                        {% if registerViolations.surname is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.surname %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="name" class="register-label">Prénom</label>
                        <input type="text" class="input-register-form " name="name" id="name" value="{{ user.name }}" required/>
                        {% if registerViolations.name is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.name %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>


                <div class="input-register">
                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="pseudo" class=" register-label">Pseudo</label>
                        <input type="text" class="input-register-form" name="pseudo" id="pseudo" value="{{ user.pseudo }}" required>
                        {% if registerViolations.pseudo is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.pseudo %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="birthDate" class=" register-label">Date de Naissance</label>
                        <input type="date" class="input-register-form" name="birthDate" id="birthDate" value="{{ user.birthDate }}" required>
                        {% if registerViolations.birthday is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.birthday %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>


                <div class="input-register">
                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="email" class=" register-label">Email</label>
                        <input type="email" class="input-register-form" name="email" id="email" value="{{ user.email }}" required>
                        {% if registerViolations.email is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.email %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-10 col-xl-5 col-lg-5 col-sm-8">
                        <label for="password" class="register-label">Mot de passe</label>
                        <input type="password" class="input-register-form" name="password" id="password" value="{{ user.password }}"
                               required>
                        {% if registerViolations.password is not empty %}
                            <ul class="violation">
                                {% for registerViolations in registerViolations.password %}
                                    <li>{{ registerViolations }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input-register">
                        <div class="col-10 col-xl-5 col-lg-5 col-sm-8" hidden="hidden">
                            <label for="role" class=" register-label"></label>
                            <input type="text" class="input-register-form" name="role" id="role" value="user">
                        </div>
                </div>


                <div class="mb-3 bloc-btn-form-register col-10">
                    <button class="btn btn-primary btn-form-register col-10 col-xl-3 col-lg-5 col-sm-5" type="submit"
                            >Créer le compte
                    </button>
                    <a class="btn btn-danger btn-form-register col-10 col-xl-3 col-lg-5 col-sm-5" href="/"
                       role="button">Annuler</a>
                </div>
            </form>


        </div>
    </section>
{% endblock %}
